#info-toggle-btn {
    cursor: pointer;
    background-color: var(--youtools-btns-bg-color);
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

#info-toggle-btn:hover {
    background-color: var(--youtools-btns-bg-hover-color);
}
#info-toggle-btn:active {
    background-color: var(--youtools-btns-bg-active-color);
}

#info-toggle-btn img {
    width: 100%;
    transition: transform .4s ease-out;
}

/* --- change direction of the icon arrow --- */
.clear-screen #info-toggle-btn img {
    transform: rotateY(180deg)
}

/* --- hide the metapanel --- */
#metapanel {
    transition: all .3s ease-out;
}

.clear-screen #metapanel {
    transform: translateX(-100%);
    opacity: 0;
}