/* youtools action bar */
:root {
    --youtools-btns-bg-color: rgb(36, 36, 36);
    --youtools-btns-bg-hover-color: rgb(63, 63, 63);
    --youtools-btns-bg-active-color: rgb(83, 83, 83);
    --youtools-btns-bg-container-color: rgb(36, 36, 36);
}

#youtools-action-bar {
    /* border: solid 3px red; */
    width: max-content;
    padding: 0 12px;
    height: 100%;
    position: absolute;
    right: 100%;
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    justify-content: center;
}

.landscape #youtools-action-bar {
    right: auto;
    bottom: 100%;
    width: 100%;
    height: max-content;
    flex-direction: row;
    justify-content: center;
    padding: 12px 0;
}

#youtools-action-bar .btn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-block: 8px;
    margin-inline: 0;
}

.landscape #youtools-action-bar .btn-wrapper {
    margin-block: 0;
    margin-inline: 8px;
}

#youtools-action-bar .btn-wrapper .btn-container {
    width: 48px;
    height: 48px;
    position: relative;
}

#youtools-action-bar .btn-wrapper .btn-title {
    font-size: 14px;
    color: white;
    margin-top: .5rem;
    text-transform: capitalize;
    width: auto;
}
/* ============= just a quick personal fix unrelated to this extentions code ============ */
.autocomplete-suggestions {
    display: none;
}