#loop-btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    /* border: solid 1px red; */
    border-radius: 50%;
    position: relative;
    padding: 0 2px;
}
#loop-btn img{
    position: absolute;
    width: 75%;
}
#loop-btn img{
    position: absolute;
    width: 75%;
}
#loop-btn #enabled-loop{
    display: none;
}
#loop-btn #disabled-loop{
    display: block;
}
.loop-active #disabled-loop{
    display: none !important;
}
.loop-active #enabled-loop{
    display: block !important;
}

